<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

      <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima dolore porro non temporibus velit animi adipisci ratione maxime enim ullam dolorem, blanditiis repellendus veniam. Maxime et quibusdam iste eos sunt.</p>
      </div>
      <%- include('./partials/footer.ejs') %>
</body>
</html>